.recipeDetailsDiv {
  display: block;
}
.recipeDetailsUL {
  margin-top: 100px;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  padding-left: 0;
}
.recipeDetailsText {
  background-color: rgb(240, 240, 240);
  flex: 1;
}
.recipeImageLI {
  flex: 1;
  background-color: rgb(240, 240, 240);
  padding: 30px;
  line-break: normal;
}

.ingredientsDiv {
  flex: 1;
  text-align: left;
}
.nutrientsDiv {
  flex: 1;
  vertical-align: top;
}
.nutrientsUL {
  width: 100%;
  padding-left: 0;
}
.nutrientLI {
  display: inline-block;
  font-size: 14px;
  text-align: center;
}
.both {
  display: flex;
}
.nutrientName {
  margin: 0;
}
.ingredientsTitle {
  text-align: center;
}
